
.cardContainer{
    background-color: rgba(182, 219, 236, 0.568);
    padding: 40px;
    margin: 40px;
    position: relative;
    min-width: 235px;
    border: 20px;
    border-radius: 20px;
   box-shadow: 30px;
}

.name{
    background-color: #4bd8ae;
    font-size: 25px;
    border-radius: 10px;
    
}

.item{
    font-size: 15px;
    font-family: sans-serif;

}

.image{
    width: 150px;
    height: 150px;
    border-radius: 15px;
}

.btn {
    background: #b10303;
    background-image: url("http://res.freestockphotos.biz/pictures/15/15107-illustration-of-a-red-close-button-pv.png");
    background-size: cover;
    background-position: center;
    display: inline-block;
    border: none;
    padding: 15px;
    width: 5px;
    border-radius: 900px;
    height: 5px;
    transition: all 0.5s;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
   }
   
   .btn:hover
   {
    width: 75px;
    height: 75px;
   }