.containerSearchBar{
    background-color: aqua;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 30px;
}

.input{
    border-radius: 10px;
}

.button{
    background-image: url("./107122.png");
    background: transparent;
  
}