.nav{
    background-color: aqua;
    padding: 20px;
   
    
 
    
}

.about{
    margin: 2px;
}

.button {
	box-shadow:inset 0px 0px 0px 0px #affac0;
	background:linear-gradient(to bottom, #ffff14 5%, #03edb2 100%);
	background-color:#ffff14;
	border-radius:11px;
	border:1px solid #aced1f;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #0099c7;
    float: left;
    margin-left: 70px;
}
.button:hover {
	background:linear-gradient(to bottom, #03edb2 5%, #ffff14 100%);
	background-color:#03edb2;
}
.button:active {
	position:relative;
	top:1px;
}